pipeline/PL_COPY_BLOB_P2.json
{
	"name": "PL_COPY_BLOB_P2",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"wildcardFileName": "Product*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Name",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductNumber",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Color",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Color",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "StandardCost",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "StandardCost",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ListPrice",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ListPrice",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Size",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Size",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "Weight",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Weight",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductCategoryID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductCategoryID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ProductModelID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ProductModelID",
									"type": "String",
									"physicalType": "String"
								}
							},
							{
								"source": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ModifiedDate",
									"type": "String",
									"physicalType": "String"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "dp203practicesadb_blob",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.source_container",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dp203practicesadb_blob",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.dest_container",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_filenames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_filenames').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Delete_blobs_copy",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "dp203practicesadb_blob",
									"type": "DatasetReference",
									"parameters": {
										"containerName": {
											"value": "@pipeline().parameters.source_container",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFileName": {
										"value": "@{item().name}",
										"type": "Expression"
									},
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "Get_filenames",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dp203practicesadb_blob",
						"type": "DatasetReference",
						"parameters": {
							"containerName": {
								"value": "@pipeline().parameters.dest_container",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			}
		],
		"parameters": {
			"source_container": {
				"type": "string",
				"defaultValue": "raw"
			},
			"dest_container": {
				"type": "string",
				"defaultValue": "curated"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-12-29T18:48:56Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}